@charset "UTF-8";

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
    
    display: grid;
    grid-template-rows:80px 40px 200px 40px ;
    grid-template-columns: 200px 150px;
    text-align: center;
    gap: 5px;
    padding: 10px;
    
   
    
   
}
.topo {
    background-color: lightblue;
     grid-area: 1/1/2/-1;
       
}

.menu {
    background-color: lightgray;
    grid-area: 2/3/2/-3;
    
    
    
}

.principal {
    background-color: red;
    grid-area: 3/1/4/-2;
       
}

.secundario {
    background-color: lightcoral;
    grid-area: 3/-2/-2/-1;
    
}

.rodape {
    background-color: lightgreen;
    grid-area: -2/1/-1/-1;
}