@charset "UTF-8";

{
    font-family: arial, helvetica, sans-serif;
   
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #886438a4;
    width: 600px;
    Padding: 10px;
    margin: auto;
}
h1{
   color: #F28585;
   text-align: center;
   text-shadow: 1px 1px 2px #7e4545a1;

}
h2{
   color: #86A69D;

}
body{
    background-image: linear-gradient(to right, #F2B263, #F28585);

}
p{
    text-align: justify;
}


