@charset "UTF-8";
/*
 em HTML É ID = em CSS é #
 em HTML É class = em CSS É .
*/
body{
    background-color: #598A5D ;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #163b1c;
}
h1#principal{
    text-align: center;
  background-color:#256630 ;
    color: white;
}
h2{
    color:#5FCC71;
}
    
.basico {
    
    color: green;
    font-weight: bold;

}
.intermediario {  color: yellow 

}
.avançado{ color: rgb(124, 42, 42);

}
.destaque{
    background-color:rgba(180, 180, 82, 0.534) ;
}